@media (max-width: 480px)
	.twist
		&-items
			gap: 2px
			font-size: 60px

	.cookie
		max-width: 100%
		width: 100%
		&-title br
			display: none
		&-text
			margin-bottom: 12px
			max-width: 240px
		&-button
			height: 38px
			font-size: 14px
		&-image
			top: -24px
			width: 64px

	.popup
		&-reserve
			&-form
				padding-top: 24px
				gap: 24px
				&__grid
					.label
						&:last-child
							max-width: 140px

	.popup-reserve-form-contacts
		.label
			flex: initial
			width: 100%
			max-width: 100% !important

	.reservation-buttons.fixed
		padding: 0 20px
	.reservation-btn
		flex: 1
		text-align: center
