@media (max-width: 480px)
	.twist
		&-items
			gap: 2px
			font-size: 60px

	.cookie
		max-width: 100%
		width: 100%
		&-title br
			display: none
		&-text
			margin-bottom: 12px
			max-width: 240px
		&-button
			height: 38px
			font-size: 14px
		&-image
			top: -24px
			width: 64px
