@media (max-width: 920px)
	.header
		&-nav
			display: none

	.section
		&-heading
			padding-bottom: 60px

	.interior
		&-card
			&__media
				height: 410px !important

	.kitchen
		&-menus
			&__item
				height: 440px
				&-bg--hover
					width: 168px
					height: 262px

	.cocktails
		&-image
			&--big
				width: calc((100% / 12) * 5.2)
		&-text
			width: calc((100% / 12) * 5.2)

	.feed
		&-background
			height: 400px

	.backyard
		&-background
			height: 400px
		&-image, &-video
			height: 400px

	.events
		&-item
			width: calc((100% - 12px) / 2) !important
			&__media
				height: auto !important
				aspect-ratio: 1
