<footer class="footer">
	<div class="container">
		<form action="#" method="post" class="footer-form">
			<h3 class="footer-form__title">Акции, гесты, вечеринки, мероприятия и ещё много всего полезного в нашей рассылке </h3>
			<div class="footer-form__text">Подписывайтесь и не пропускайте новинки</div>
			<div class="footer-form__inline">
				<input type="email" name="email" placeholder="E-mail">
				<button type="submit">Подписаться</button>
			</div>
		</form>
		<video class="footer-bear" preload="" playsinline="" autoplay="" loop="" muted="">
			<source src="videos/bear.mp4" type="video/mp4">
		</video>
		<div class="footer-copyright">ООО «ВейрХаус» / ОГРН 1246600053655 / ИНН 6671316980 / Юрид. адрес 620014, г. Екатеринбург, ул. Добролюбова, ЗВ</div>
	</div>
</footer>
<div class="footer-fixed">
			<p>Добролюбова 3В / +7 932 120 12 08</p>
			<p>Design by: <a href="#">Cassari</a></p>
		</div>