<header class="header">
	<div class="container">
		<a href="/" class="header-logo"><img src="img/svg/logo.svg" alt=""></a>
		<ul class="header-nav">
			<li><a href="#">Интерьер</a></li>
			<li><a href="#">Бар и кухня</a></li>
			<li><a href="#">Атмосфера</a></li>
			<li><a href="#">Гости</a></li>
			<li><a href="#">Мероприятия</a></li>
		</ul>
		<ul class="header-schedule">
			<li class="header-schedule__status open">Работаем</li>
			<li class="header-schedule__time">Закроемся в 4:00</li>
		</ul>
	</div>
</header>