.events
	.section-heading__description
		max-width: 520px
	&-grid
		@include flexbox
		align-items: flex-start
		gap: 64px 0
	&-item
		@include flexbox
		flex-direction: column
		align-items: flex-start
		gap: 16px
		&__media
			width: 100%
			img, video
				width: 100%
				height: 100%
				object-fit: cover
				object-position: center
		&__text
			@include flexbox
			flex-direction: column
			align-items: flex-start
			gap: 2px
			text-transform: uppercase
			font-size: 12px
			line-height: 1.5
			letter-spacing: 0.04em
			span
				opacity: 0.5
		&:nth-child(1)
			width: calc((100% / 12) * 3)
			.events-item__media
				height: 490px
		&:nth-child(2)
			width: calc((100% / 12) * 2)
			margin-left: calc((100% / 12) * 1)
			.events-item__media
				height: 330px
		&:nth-child(3)
			width: calc((100% / 12) * 4.5)
			margin-left: auto
			.events-item__media
				height: 670px
		&:nth-child(4)
			width: calc(((100% / 12) * 4) - 40px)
			.events-item__media
				height: 580px
		&:nth-child(5)
			width: calc((100% / 12) * 2)
			margin-left: 40px
			.events-item__media
				height: 330px
		&:nth-child(6)
			width: calc((100% / 12) * 2)
			margin-left: auto
			margin-right: calc((100% / 12) * 2)
			margin-top: auto
			.events-item__media
				height: 240px
