{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<section class="section hero">
	<video class="hero-video" preload="" playsinline="" autoplay="" loop="" muted="">
        <source src="videos/hero.mp4" type="video/mp4">
    </video>
	<div class="container">
		<ul class="hero-contacts">
			<li>
				<span>Находимся по адресу</span>
				<p>Добролюбова 3В</p>
			</li>
			<li>
				<span>Позвонить</span>
				<p>+7 932 120 12 08</p>
			</li>
		</ul>
		<div class="hero-content">
			<div class="hero-description">Listening bar в центре Екатеринбурга!</div>
			<h1 class="hero-title">Свежий твист на кухни Азии и авторская барная карта.</h1>
		</div>
	</div>
</section>

<section class="section interior">
	<div class="container">
		<div class="section-heading section-heading--right">
			<h2 class="section-heading__title">Эстетичный интерьер как внутри, так и снаружи!</h2>
			<p class="section-heading__description">Декор и удобства в мелочах, чтобы незабываемо работать, ужинать, танцевать и собираться с друзьями!</p>
		</div>
		<div class="interior-grid">
			<div class="interior-card interior-card--medium">
				<div class="interior-card__media">
					<img src="img/interior-01.jpg" alt="" loading="lazy">
					<video preload="" playsinline="" autoplay="" loop="" muted="">
						<source src="videos/interior-01.mp4" type="video/mp4">
					</video>
				</div>
				<div class="interior-card__info">
					<span>Будет другой текст</span>
					<p>Будет другой текст</p>
				</div>
			</div>
			<div class="interior-card interior-card--big">
				<div class="interior-card__media">
					<img src="img/interior-02.jpg" alt="" loading="lazy">
					<video preload="" playsinline="" autoplay="" loop="" muted="">
						<source src="videos/interior-02.mp4" type="video/mp4">
					</video>
				</div>
				<div class="interior-card__info">
					<span>Будет другой текст</span>
					<p>Будет другой текст</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section kitchen">
	<div class="container">
		<div class="section-heading section-heading--center">
			<h2 class="section-heading__title">Авторский взгляд на кухни Азии от бренд-шефа Дениса<img src="img/kitchen-chef.jpg" alt="" loading="lazy">Давыдова</h2>
			<p class="section-heading__description">Добавили изюминку в каноничную классику и постоянно экспериментируем с новыми вкусами</p>
		</div>
		<div class="kitchen-menus">
			<div class="kitchen-menus__item">
				<video class="kitchen-menus__item-bg" preload="" playsinline="" autoplay="" loop="" muted="">
					<source src="videos/kitchen-bar.mp4" type="video/mp4">
				</video>
				<video class="kitchen-menus__item-bg--hover" preload="" playsinline="" autoplay="" loop="" muted="">
					<source src="videos/kitchen-bar.mp4" type="video/mp4">
				</video>
				<div class="kitchen-menus__item-title">Бар</div>
				<div class="kitchen-menus__item-text">
					<p>Барная карта</p>
					<span>Откроется справа</span>
				</div>
			</div>
			<div class="kitchen-menus__item">
				<video class="kitchen-menus__item-bg" preload="" playsinline="" autoplay="" loop="" muted="">
					<source src="videos/kitchen-menu.mp4" type="video/mp4">
				</video>
				<video class="kitchen-menus__item-bg--hover" preload="" playsinline="" autoplay="" loop="" muted="">
					<source src="videos/kitchen-menu.mp4" type="video/mp4">
				</video>
				<div class="kitchen-menus__item-title">Меню</div>
				<div class="kitchen-menus__item-text">
					<p>Меню</p>
					<span>Откроется справа</span>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section kitchen-more">
	<div class="container">
		<div class="section-heading">
			<h3 class="section-heading__title-md">Вы еще не видели наше POP-UP Menu?</h3>
		</div>
		<div class="scroller">
			<div class="kitchen-more__grid">
				{% include 'components/kitchen-more-item.html' %}
				{% include 'components/kitchen-more-item.html' %}
				{% include 'components/kitchen-more-item.html' %}
				{% include 'components/kitchen-more-item.html' %}
				{% include 'components/kitchen-more-item.html' %}
				{% include 'components/kitchen-more-item.html' %}
				{% include 'components/kitchen-more-item.html' %}
			</div>
		</div>
	</div>
</section>

<section class="section cocktails">
	<div class="container">
		<div class="section-heading section-heading--center">
			<h2 class="section-heading__title">Не коктейли — то, что вокруг.</h2>
		</div>
		<div class="cocktails-grid">
			<div class="cocktails-image cocktails-image--big">
				<img src="img/cocktails-image-01.jpg" alt="" loading="lazy">
			</div>
			<div class="cocktails-text">
				<h3 class="section-heading__title-md">Стекло. Лёд. Тёплое дерево. Руки на столе. Меню. Тени от бокала.</h3>
				<p class="section-heading__description">Мы не устраиваем шоу.<br> Просто собираем вечер из точек.</p>
			</div>
			<div class="cocktails-image cocktails-image--small">
				<img src="img/cocktails-image-02.jpg" alt="" loading="lazy">
			</div>
		</div>
	</div>
</section>

<section class="section feed">
	<div class="feed-background">
		<img src="img/feed-background.jpg" alt="" loading="lazy">
	</div>
	<div class="feed-main">
		<div class="container">
			<div class="section-heading">
				<h2 class="section-heading__title">Лента</h2>
			</div>
			<div class="scroller">
				<div class="feed-grid">
					{% include 'components/feed-item.html' %}
					{% include 'components/feed-item.html' %}
					{% include 'components/feed-item.html' %}
					{% include 'components/feed-item.html' %}
					{% include 'components/feed-item.html' %}
					{% include 'components/feed-item.html' %}
					{% include 'components/feed-item.html' %}
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section backyard">
	<div class="backyard-background">
		<img src="img/backyard-background.jpg" alt="" loading="lazy">
	</div>
	<div class="backyard-main">
		<div class="container">
			<div class="section-heading section-heading--right">
				<h2 class="section-heading__title">Бэкярд в самом центре города!</h2>
				<p class="section-heading__description">Место для встречи с друзьями, ужина тет-а-тет или шумного эвента. И все это под звездами!</p>
			</div>
			<div class="backyard-grid">
				<div class="backyard-carousel splide">
					<div class="splide__track">
						<div class="splide__list">
							<div class="splide__slide">
								<img src="img/backyard-carousel.jpg" alt="" loading="lazy">
								<div class="backyard-carousel__text">К атмосфере по вечерам подключаются DJs, а бармены начинают все чаще браться за бокалы</div>
							</div>
							<div class="splide__slide">
								<img src="img/backyard-carousel.jpg" alt="" loading="lazy">
								<div class="backyard-carousel__text">К атмосфере по вечерам подключаются DJs, а бармены начинают все чаще браться за бокалы</div>
							</div>
							<div class="splide__slide">
								<img src="img/backyard-carousel.jpg" alt="" loading="lazy">
								<div class="backyard-carousel__text">К атмосфере по вечерам подключаются DJs, а бармены начинают все чаще браться за бокалы</div>
							</div>
							<div class="splide__slide">
								<img src="img/backyard-carousel.jpg" alt="" loading="lazy">
								<div class="backyard-carousel__text">К атмосфере по вечерам подключаются DJs, а бармены начинают все чаще браться за бокалы</div>
							</div>
						</div>
					</div>
				</div>
				<div class="backyard-image"><img src="img/backyard-image.jpg" alt=""></div>
			</div>
		</div>
	</div>
</section>

<section class="section events">
	<div class="container">
		<div class="section-heading section-heading--right">
			<h2 class="section-heading__title">шеф-тейбл Warehouse</h2>
			<p class="section-heading__description">Календарь событий заполнен не только вечеринками с приглашенными артистами, но и множеством новых форматов. Собираем блогеров, экспертов и других интересных личностей за нашей барной стойкой!</p>
		</div>
		<div class="events-grid">
			<div class="events-item">
				<div class="events-item__media">
					<img src="img/events-item.jpg" alt="" loading="lazy">
				</div>
				<div class="events-item__text">
					<span>Лёгкость момента</span>
					<p>в каждом бокале и взгляде</p>
				</div>
			</div>
			<div class="events-item">
				<div class="events-item__media">
					<img src="img/events-item.jpg" alt="" loading="lazy">
				</div>
				<div class="events-item__text">
					<span>Лёгкость момента</span>
					<p>в каждом бокале и взгляде</p>
				</div>
			</div>
			<div class="events-item">
				<div class="events-item__media">
					<img src="img/events-item.jpg" alt="" loading="lazy">
				</div>
				<div class="events-item__text">
					<span>Лёгкость момента</span>
					<p>в каждом бокале и взгляде</p>
				</div>
			</div>
			<div class="events-item">
				<div class="events-item__media">
					<img src="img/events-item.jpg" alt="" loading="lazy">
				</div>
				<div class="events-item__text">
					<span>Лёгкость момента</span>
					<p>в каждом бокале и взгляде</p>
				</div>
			</div>
			<div class="events-item">
				<div class="events-item__media">
					<img src="img/events-item.jpg" alt="" loading="lazy">
				</div>
				<div class="events-item__text">
					<span>Лёгкость момента</span>
					<p>в каждом бокале и взгляде</p>
				</div>
			</div>
			<div class="events-item">
				<div class="events-item__media">
					<img src="img/events-item.jpg" alt="" loading="lazy">
				</div>
				<div class="events-item__text">
					<span>Лёгкость момента</span>
					<p>в каждом бокале и взгляде</p>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}