{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<section class="hero">
	<video class="hero-video" preload="" playsinline="" autoplay="" loop="" muted="">
        <source src="videos/hero.mp4" type="video/mp4">
    </video>
	<div class="container">
		<ul class="hero-contacts">
			<li>
				<span>Находимся по адресу</span>
				<p>Добролюбова 3В</p>
			</li>
			<li>
				<span>Позвонить</span>
				<p>+7 932 120 12 08</p>
			</li>
		</ul>
		<div class="hero-content">
			<div class="hero-description">Listening bar в центре Екатеринбурга!</div>
			<h1 class="hero-title">Свежий твист на кухни Азии и авторская барная карта.</h1>
		</div>
	</div>
</section>

{% endblock %}