{% extends 'components/_layout.html' %}
{% set site_title = 'Политика обработки персональных данных' %}

{% block content %}

<section class="text">
	{% include 'components/_header.html' %}
	<div class="container text-container">
		<h2 class="text-title">Политика обработки персональных данных</h2>
		<div class="text-content">
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui veniam deleniti doloremque? Earum id distinctio cumque, tempora ullam sunt, molestias quibusdam debitis dignissimos nihil fugit, minima eligendi a. Corrupti, porro.</p>
			<p>Laudantium, dolores atque suscipit ut, expedita aperiam vero necessitatibus doloribus ea nostrum dolore nam rem quis odit eveniet! Iure eveniet aut quos, cupiditate tempore iusto numquam suscipit aperiam dolorem optio.</p>
			<p><b>text bold</b></p>
			<p>Quod corporis aliquid neque porro consequuntur, autem reprehenderit voluptates placeat recusandae nesciunt, rerum necessitatibus? In, laborum dolorum dolorem, quis dicta facilis eligendi totam laboriosam esse nostrum ipsa quo, repellendus dignissimos!</p>
			<ul>
				<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, illo officia? Voluptatem placeat dolorum facere similique fugit ea saepe, autem, accusantium doloribus amet possimus commodi itaque laboriosam fugiat. Eveniet, error!</li>
				<li>Aliquid, necessitatibus dolores. Voluptatibus rerum itaque inventore aspernatur est sequi incidunt! Ullam, suscipit debitis voluptates magni quaerat fugiat sint veniam labore temporibus quod, architecto deleniti, ipsa laboriosam repellat corrupti quisquam.</li>
				<li>Accusamus dolore aut rerum excepturi officiis provident molestiae sint repellendus placeat quam quaerat, atque tempore eligendi necessitatibus sit et? Officia, ipsa. Blanditiis necessitatibus itaque molestiae nostrum corporis quam, fugiat tempora?</li>
				<li>Officiis esse culpa consequatur quod, quaerat aliquid? Corporis esse dolores voluptas dolore doloremque ex corrupti fugit exercitationem! Incidunt debitis possimus officia voluptas eligendi commodi, magni, soluta corporis quia eos sint!</li>
			</ul>
			<p>Error, tempore voluptatibus? Atque earum harum a ex molestiae ducimus fuga eos, vitae ipsam molestias dolorum ullam, esse vero optio et explicabo obcaecati minima possimus dolores temporibus nisi id. Ullam?</p>
		</div>
	</div>
</section>

{% endblock %}